# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias y builds
node_modules
dist
dist-ssr
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --------------------------------------------
# Rutas específicas de apps/web
# --------------------------------------------
apps/web/node_modules   # Ignora la carpeta node_modules de web
apps/web/dist/          # Ignora la carpeta dist de web
apps/web/.env.local     # Ignora variables de entorno locales
apps/web/.cache/        # Si usas herramientas como Gatsby
apps/web/logs/          # Logs específicos de web